WEB_PORT=8000
DJANGO_SECRET_KEY=replace-this-with-a-long-random-secret
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=*
DATABASE_ENGINE=postgres
SQLITE_PATH=/app/data/db.sqlite3

POSTGRES_DB=zebra_web_print
POSTGRES_USER=zebra_web_print
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
